%script
  initializeChat();
.container
  .row
    .col-lg-8.col-lg-offset-2
      .row
        .col-lg-12
          %h1
            Funny Chat
      .row
        .col-lg-9
          .row
            .col-lg-12
              #chat-area
          .row
            .col-lg-12
              %input.form-control#chat-input{placeholder:'Write your message and press enter',
                  onkeypress:'keyPressed(event,this)',tabindex:1}
        .col-lg-3
          %h4
            Active Users
          #user-list
  .row
    .col-lg-12
      %a{href:'javascript: logout()'}
        Logout
